/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Brand Palette
 * -------------------------------------------------------------------------- */

:root {
  /* Primary Brand Color */
  --primary-brand: #4CD8FA;

  /* Cool Gray Scale - Darkest to Lightest */
  --cool-gray-900: #0A0C13;
  --cool-gray-800: #0D0F16;
  --cool-gray-700: #11131C;
  --cool-gray-600: #131721;
  --cool-gray-500: #161B27;
  --cool-gray-400: #40444E;
  --cool-gray-300: #6D6F77;
  --cool-gray-200: #9B9DA1;
  --cool-gray-100: #C7C8CB;
  --cool-gray-50: #E8E8E9;
}

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create a accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attched to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-default-1: var(--cool-gray-100);
  --vp-c-default-2: var(--cool-gray-200);
  --vp-c-default-3: var(--cool-gray-300);
  --vp-c-default-soft: var(--cool-gray-800);

  --vp-c-black: var(--cool-gray-900);

  --vp-c-brand-1: var(--primary-brand);
  --vp-c-brand-2: #3DB5D9;
  --vp-c-brand-3: #2A7996;
  --vp-c-brand-soft: rgba(76, 216, 250, 0.14);

  --vp-c-text-1: var(--cool-gray-50);
  --vp-c-text-2: var(--cool-gray-300);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);
}

/**
 * Component: Fonts
 * -------------------------------------------------------------------------- */

:root {
  --vp-font-family-base: "Public Sans";
  --vp-font-family-mono: "Martian Mono";
  --vp-code-font-size: 12px;

  .text {
    font-size: 15px;
    line-height: 18px;
  }

  .VPFeatures p {
    font-size: 17px;
    line-height: 20px;
  }

  .VPSidebarItem h2 {
    margin-bottom: 4px;
  }

  .content:not(code) {
    font-size: 17px;
    line-height: 26px !important;
  }

  .details {
    line-height: 26px !important;
  }
}


/**
 * Component: Sidebar
 * -------------------------------------------------------------------------- */

:root {
  --vp-layout-max-width: 1325px;
}

.VPDoc:not(.has-sidebar) .container {
  max-width: 100% !important;
}

.VPDoc:not(.has-sidebar) .content {
  max-width: 100% !important;
}

.VPDoc.has-aside .content-container {
  max-width: 100% !important;
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--cool-gray-900);
  --vp-button-brand-bg: var(--vp-c-brand-2);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--cool-gray-900);
  --vp-button-brand-hover-bg: var(--vp-c-brand-1);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--cool-gray-900);
  --vp-button-brand-active-bg: var(--vp-c-brand-3);

  --vp-button-alt-border: transparent;
  --vp-button-alt-text: var(--cool-gray-50);
  --vp-button-alt-bg: var(--cool-gray-400);
  --vp-button-alt-hover-border: transparent;
  --vp-button-alt-hover-text: var(--cool-gray-50);
  --vp-button-alt-hover-bg: var(--cool-gray-300);
  --vp-button-alt-active-border: transparent;
  --vp-button-alt-active-text: var(--cool-gray-50);
  --vp-button-alt-active-bg: var(--cool-gray-500);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;

  --vp-home-hero-name-background: var(--cool-gray-50);

  --vp-home-hero-image-background-image: linear-gradient(-45deg,
      var(--primary-brand) 50%,
      #6FE3FF 50%);
  --vp-home-hero-image-filter: blur(44px);
}

.VPHero .name {
  font-family: var(--vp-font-family-mono);
  font-size: 32px;
}

.VPHero .tagline {
  font-size: 16px;
}

@media (min-width: 640px) {
  .VPHero .name {
    font-size: 40px;
  }

  .VPHero .tagline {
    font-size: 20px;
  }
}

@media (min-width: 960px) {
  .VPHero .name {
    font-size: 48px;
  }

  .VPHero .tagline {
    font-size: 24px;
  }
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--cool-gray-50);
  --vp-custom-block-tip-bg: #002c22;
  --vp-custom-block-tip-code-bg: #002c22;
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

/**
 * Component: Background Colors
 * -------------------------------------------------------------------------- */

.dark {
  --vp-c-bg: var(--cool-gray-700);
  --vp-c-bg-alt: var(--cool-gray-800);
  --vp-c-bg-elv: var(--cool-gray-500);
  --vp-c-bg-soft: var(--cool-gray-500);
}